@model StartPage
@inject IApi Api
@{
    ViewBag.Title = Model.Title;
    ViewBag.TypeId = Model.TypeId;
    var hoursCount = Model.HoursCount <= 1000 ? Model.HoursCount.ToString() : $"{Model.HoursCount / 1000:#,##k}";
}

<div class="main mt-md-4 pt-md-4" id="home-main">
    <div class="container mt-md-4 pt-md-4">

        @* Carousel *@
        @if (Model.Carousel.Count > 0)
        {
            <div class="row pt-5 pb-5">
                <div class="col-sm-12 col-md-12">
                    <div id="corouselStart" class="carousel slide gallery-block" data-ride="carousel">
                        <ol class="carousel-indicators justify-content-md-start justify-content-center">
                            @{
                                int indicatorIndex = 0;
                            }
                            @foreach (var hero in Model.Carousel)
                            {
                                @if (indicatorIndex == 0)
                                {
                                    <li data-target="#corouselStart" data-slide-to="@indicatorIndex" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#corouselStart" data-slide-to="@indicatorIndex"></li>
                                }

                                indicatorIndex += 1;
                            }
                            @{
                                int imageIndex = 0;
                            }
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var hero in Model.Carousel)
                            {
                                @if (imageIndex == 0)
                                {
                                    <div class="carousel-item active">
                                        <div class="row text-md-left text-center">
                                            <div class="col-md-6 col-sm-6 vertical-center order-md-1 order-2">
                                                <h1 class="heading1">@hero.IngressTitle</h1>
                                                <p class="body2">@Html.Raw(hero.Ingress)</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 order-md-2 order-1">
                                                <img class="img-fluid" src="@Url.Content(hero.PrimaryImage.Resize(WebApp.Api, 496, 380))" alt="First slide">
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <div class="row text-md-left text-center">
                                            <div class="col-md-6 col-sm-6 vertical-center order-md-1 order-2">
                                                <h2 class="heading1">@hero.IngressTitle</h2>
                                                <p class="body2">@Html.Raw(hero.Ingress)</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 order-md-2 order-1">
                                                <img class="img-fluid" src="@Url.Content(hero.PrimaryImage.Resize(WebApp.Api, 496, 380))" alt="First slide">
                                            </div>
                                        </div>
                                    </div>
                                }

                                imageIndex += 1;
                            }
                        </div>
                    </div>
                </div>
            </div>
        }


        @* Statistics *@
        @if (Model.Clubs.Clubs.Count() > 0)
        {
            <div class="row justify-content-center block pt-5 pb-5">
                <div class="col-6 row">
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/User.svg" />
                        <div class="m-3">
                            <div class="m-1 heading3">@Model.HeroesCount+</div>
                            <div class="m-1 body2">Герои</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/School.svg">
                        <div class="m-3">
                            <div class="m-1 heading3">@Model.ClubsCount+</div>
                            <div class="m-1 body2">Ученически клуба</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/Heart.svg">
                        <div class="m-3">
                            <div class="m-1 heading3">@Model.MissionsCount</div>
                            <div class="m-1 body2">Реализирани мисии</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/Clock.svg">
                        <div class="m-3">
                            <div class="m-1 heading3">@hoursCount+</div>
                            <div class="m-1 body2">Дарени часа</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }

        @* Leaderboard *@
        <div class="pt-5 pb-5 pl-3 pr-3">
            @if (Model.Clubs.Clubs.Count() > 0 && Model.SchoolYears.Count() > 0)
            {
                var selectItems = new List<SelectListItem>();
                @foreach (var year in Model.SchoolYears)
                {
                    selectItems.Add(new SelectListItem(year, year));
                }
            <div class="row justify-content-between">
                <h2 class="mb-5 heading2">Класация</h2>
                @*<form asp-controller="Cms" asp-action="Start" method="post" asp-for="SelectedSchoolYear">
                    <div class="btn btn-default school-years-button body2-bold">
                        <select onchange="this.form.submit()" class="custom-select" asp-for="SelectedSchoolYear" asp-items="selectItems"></select>
                    </div>
                </form>*@

            <form asp-controller="Cms" asp-action="Start" method="post" asp-for="SelectedSchoolYear">
                <div class="custom-select-wrapper">
                    <div class="btn school-years-button custom-select">
                        <div class="custom-select__trigger">
                            <span>@Model.SelectedSchoolYear</span>
                            @*<div class="arrow"></div>*@
                        </div>
                        <div class="custom-options">
                            @foreach (var year in selectItems)
                            {
                                if (Model.SelectedSchoolYear == year.Value)
                                {
                                    <input type="submit" class="custom-option selected" id="selectedSchoolYear" name="selectedSchoolYear" value="@year.Value" />
                                }
                                else
                                {
                                    <input type="submit" class="custom-option" id="selectedSchoolYear" name="selectedSchoolYear" value="@year.Value" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </form>
            </div>

                <div class="row leaderboard-clubs">
                    @{
                        var index = 0;
                    }

                    @foreach (var club in Model.Clubs.Clubs)
                    {
                        index += 1;
                        <a href="#@club.Id.ToString()" class="col-12 leaderboard-club p-3" data-toggle="modal" data-target="#@club.Id.ToString()">
                            <div class="row col-12 vertical-center leaderboard-club mr-0 pr-0">
                                <div class="row col-md-9 col-sm-12 vertical-center mr-0">
                                    <div class="col-1 body1-bold text-md-center">
                                        <span>@index</span>
                                    </div>
                                    <div class="col-2 text-md-center">
                                        <span class="body1-bold" data-letters="@club.ClubInitials"></span>
                                    </div>
                                    <div class="col-md-9 col-sm-9 body1">
                                        <span>@club.Name</span>,
                                        <span>@club.Location</span>
                                    </div>
                                </div>
                                <div class="row col-md-3 col-sm-12 mr-0 ml-0 pl-0 pr-0 vertical-center">
                                    <div class="col-5 text-right body1 pr-0">
                                        <span>@club.Points точки</span>
                                    </div>
                                    <div class="col-1 text-center">
                                        <span class="points-heroes-separator"></span>
                                    </div>
                                    <div class="col-5 text-left body1 pl-2">
                                        <span>@club.HeroesCount герои</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <hr />

                        <!-- Club Modal -->
                        @await Html.PartialAsync("~/Views/Shared/Partial/_ClubDetails.cshtml", club)
                    }
                </div>
            }
        </div>


        @* Missions *@
        @if (Model.Missions.Count() > 0)
        {
            <div class="pt-5 pb-5">
                <p class="heading2 mt-md-4 pt-4">Мисии</p>
                <partial name="~/Views/Missions/_MissionsList.cshtml" for="@Model.Missions" />
                <div class="row mt-3 justify-content-center">
                    <a href="/missions" class="btn btn-heroes">Виж всички мисии</a>
                </div>
            </div>
        }

        <div class="separator mt-5"></div>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />

        @if (Model.Blocks != null && Model.Blocks.Count > 0)
        {
            <div class="row justify-content-center">
                <div class="col-sm-10 page-body">
                    @Html.DisplayFor(m => m.Blocks)
                </div>
            </div>
        }

    </div>
</div>
