@model StartPage
@inject IApi Api
@{
    ViewBag.Title = Model.Title;
    var hoursCount = $"{Model.HoursCount / 1000:#,##k}";
}

<div class="main" id="home-main">
    <div class="container">

        @* Carousel *@
        @if (Model.Carousel.Count > 0)
        {
            <div class="row section-margin">
                <div class="col-sm-12 col-md-12">
                    <div id="corouselStart" class="carousel slide gallery-block" data-ride="carousel">
                        <ol class="carousel-indicators justify-content-start">
                            @{
                                int indicatorIndex = 0;
                            }
                            @foreach (var hero in Model.Carousel)
                            {
                                @if (indicatorIndex == 0)
                                {
                                    <li data-target="#corouselStart" data-slide-to="@indicatorIndex" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#corouselStart" data-slide-to="@indicatorIndex"></li>
                                }

                                indicatorIndex += 1;
                            }
                            @{
                                int imageIndex = 0;
                            }
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var hero in Model.Carousel)
                            {
                                @if (imageIndex == 0)
                                {
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 vertical-center">
                                                <h2>@hero.IngressTitle</h2>
                                                <p>@Html.Raw(hero.Ingress)</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <img class="img-fluid" src="@Url.Content(hero.PrimaryImage.Resize(WebApp.Api, 496, 380))" alt="First slide">
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 vertical-center">
                                                <h2>@hero.IngressTitle</h2>
                                                <p>@Html.Raw(hero.Ingress)</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <img class="img-fluid" src="@Url.Content(hero.PrimaryImage.Resize(WebApp.Api, 496, 380))" alt="First slide">
                                            </div>
                                        </div>
                                    </div>
                                }

                                imageIndex += 1;
                            }
                        </div>
                    </div>
                </div>
            </div>
        }


        @* Statistics *@
        @if (Model.Clubs.Clubs.Count() > 0)
        {


            <div class="row justify-content-center block section-margin">
                <div class="col-6 row">
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/User.svg" />
                        <div class="stats-info m-1">
                            <div class="m-1"><strong>@Model.HeroesCount+</strong></div>
                            <div class="m-1"><span class="small">Герои</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/School.svg">
                        <div class="stats-info m-1">
                            <div class="m-1"><strong>@Model.ClubsCount+</strong></div>
                            <div class="m-1"><span class="small">Ученически клуба</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/Heart.svg">
                        <div class="stats-info m-1">
                            <div class="m-1"><strong>@Model.MissionsCount</strong></div>
                            <div class="m-1"><span class="small">Реализирани мисии</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 start-icon text-center">
                        <img class="img-fluid m-1" src="~/images/Clock.svg">
                        <div class="stats-info m-1">
                            <div class="m-1"><strong>@hoursCount+</strong></div>
                            <div class="m-1"><span class="small">Дарени часа</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }

        @* Leaderboard *@
        <div class="section-margin section-padding">
            @if (Model.Clubs.Clubs.Count() > 0 && Model.SchoolYears.Count() > 0)
            {
                var selectItems = new List<SelectListItem>();
                @foreach (var year in Model.SchoolYears)
                {
                    selectItems.Add(new SelectListItem(year, year));
                }
                <div class="row justify-content-between">
                    <h2 class="mb-5">Класация</h2>
                    <form asp-controller="Cms" asp-action="Start" method="post" asp-for="SelectedSchoolYear">
                        <div class="btn btn-default school-years-button">
                            <select onchange="this.form.submit()" class="custom-select" asp-for="SelectedSchoolYear" asp-items="selectItems"></select>
                        </div>
                    </form>
                </div>

                <div class="row">
                    @{
                        var index = 0;
                    }

                    @foreach (var club in Model.Clubs.Clubs)
                    {
                        index += 1;
                        <a href="#@club.Id.ToString()" class="col-12 leaderboard-club p-3" data-toggle="modal" data-target="#@club.Id.ToString()">
                            <div class="row vertical-center leaderboard-club">
                                <div class="col-md-1 col-sm-1">
                                    <span class="rate">@index</span>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <span data-letters="@club.ClubInitials"></span>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <span>@club.Name</span>,
                                    <span>@club.Location</span>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <span>@club.Points точки</span>
                                </div>
                                <div class="col-md-1 col-sm-1 text-center">
                                    <span class="points-heroes-separator"></span>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <span>@club.HeroesCount герои</span>
                                </div>
                            </div>
                        </a>

                        <hr />

                        <!-- Club Modal -->
                        @await Html.PartialAsync("~/Views/Shared/Partial/_ClubDetails.cshtml", club)
                    }
                </div>
            }
        </div>


        @* Missions *@
        @if (Model.LinkedMissions.Count > 0)
        {
            <div class="section-margin section-padding">
                <h2 class="mb-5">Мисии</h2>
                <div class="row missions-block">
                    @foreach (var mission in Model.LinkedMissions)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="mission-body">
                                <a href="@mission.Details.URL.Value" target="_blank">
                                    <img class="img-fluid" src="@Url.Content(mission.Hero.PrimaryImage.Resize(WebApp.Api, 320, 198))" />
                                    <h4 class="mission-title">@mission.Title</h4>
                                    @*@if (mission.Tags.Count > 0)
                                        {
                                            @foreach (var tag in mission.Tags)
                                            {
                                                <span>#@tag.Title </span>
                                            }
                                        }*@
                                    <p>от @mission.Details.OrganizedBy</p>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-3 justify-content-center">
                    <a href="/missions" class="btn btn-heroes">Виж всички мисии</a>
                </div>
                >>>>>>> refs/heads/master
            </div>
        }

        <hr />
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />

        <div class="row justify-content-center">
            <div class="col-sm-10 page-body">
                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
    </div>
</div>
