@model ClubsModule.Models.ClubEditModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@{
    ViewBag.Title = "Edit club";
    ViewBag.MenuItem = "Clubs";

    var heroes = Model.Heroes != null && Model.Heroes.Count() > 0 ? Model.Heroes : new List<HeroesCup.Data.Models.Hero>();
    var heroesMultipleSelectList = new MultiSelectList(heroes, "Id", "Name");
    var heroesSelectList = new SelectList(heroes, "Id", "Name");
}

@using (var form = Html.BeginForm("Save", "Clubs", FormMethod.Post, new { @class = "form validate", role = "form", novalidate = "", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Club.Id)
    @Html.HiddenFor(m => m.Club.OwnerId)

    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer.General["Clubs"]</li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("List")">@Localizer.General["Clubs"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.General["Edit"]</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                @if ((await Auth.AuthorizeAsync(User, ClubsModule.Permissions.ClubsSave)).Succeeded)
                {
                    <button type="submit" class="btn btn-labeled btn-success pull-right">
                        <span class="btn-label">
                            <i class="fas fa-check"></i>
                        </span>
                        @Localizer.General["Save"]
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <span class="title">@Localizer.General["General"]</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Name"]</label>
                            @Html.TextBoxFor(m => m.Club.Name, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-feedback">
                                @Localizer.General["Name is mandatory."]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Location"]</label>
                            @Html.TextBoxFor(m => m.Club.Location, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-feedback">
                                @Localizer.General["Location is mandatory."]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Organization Type"]</label>
                            @Html.TextBoxFor(m => m.Club.OrganizationType, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-feedback">
                                @Localizer.General["Organization Type is mandatory."]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Organization Name"]</label>
                            @Html.TextBoxFor(m => m.Club.OrganizationName, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-feedback">
                                @Localizer.General["Organization Name is mandatory."]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Description"]</label>
                            @Html.TextAreaFor(m => m.Club.Description, new { @class = "form-control small", maxlength = 500, required = "" })
                            <div class="invalid-feedback">
                                @Localizer.General["Description is mandatory."]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Logo"]</label>
                            <div class="row col-12">
                                <div class="col-6">
                                    <img src="@Model.LogoSrc" alt="Club Logo">
                                </div>
                                <div class="col-6">
                                    <input type="file" asp-for="UploadedLogo" class="form-control" contextmenu="Избери файл" />
                                    @Html.ValidationMessageFor(model => model.UploadedLogo, "", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Coordinator"]</label>
                            @Html.DropDownListFor(m => m.CoordinatorId, heroesSelectList, new { @class = "form-control small" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@Localizer.General["Heroes"]</label>
                            @Html.DropDownListFor(m => m.HeroesIds, heroesMultipleSelectList, new { @class = "form-control small", multiple = "multiple" })
                        </div>
                        <div class="text-right">
                            @if ((await Auth.AuthorizeAsync(User, ClubsModule.Permissions.HeroesAdd)).Succeeded)
                            {
                                <a href="@Url.Action("Add", "Heroes")" class="btn btn-labeled btn-primary pull-right">
                                    <i class="fas fa-plus"></i>@Localizer.General["Add Hero"]
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}