@model HeroesCup.Web.Models.ClubListItem
@{
    var club = Model;
}

<div class="modal fading" id="@club.Id.ToString()">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-4 club-image">
                    @if (@club.ClubImageSrc != null)
                    {
                        <img src="@club.ClubImageSrc" class="img-fluid" alt="@club.Name" />
                    }
                    else
                    {
                        <img src="~/images/team_no_image.png" class="img-fluid" alt="@club.Name" />
                    }
                </div>
                <div class="row col-8">
                    <div class="modal-header section-padding">
                        <div class="row col-12">
                            <div class="col-md-2 col-sm-2 initials">
                                <span data-letters="@club.ClubInitials"></span>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <h3>
                                    <span>@club.Name</span>,
                                    <span>@club.Location</span>
                                </h3>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row col-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active tab-title" href="#club_information_{@club.Id.ToString()}" data-toggle="tab">
                                        Информация
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link tab-title" href="#club_missions_{@club.Id.ToString()}" data-toggle="tab">
                                        Мисии
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link tab-title" href="#club_heroes_{@club.Id.ToString()}" data-toggle="tab">
                                        Герои
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link tab-title" href="#club_coordinators_{@club.Id.ToString()}" data-toggle="tab">
                                        За координатори
                                    </a>
                                </li>
                            </ul>

                            @* Club Information *@
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active p-2" id="club_information_{@club.Id.ToString()}">
                                <div class="club section-padding p-3">
                                    <div class="row p-2">
                                        @club.Club.Description
                                    </div>
                                    <div class="row p-2">
                                        <div class="row col-5">
                                            <div class="col-md-4 col-sm-4">
                                                <span>@club.Points точки</span>
                                            </div>
                                            <div class="col-md-4 col-sm-4 text-center">
                                                <span class="points-heroes-separator"></span>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span>@club.HeroesCount герои</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                    Координатор:
                                    <div class="row col-sm-6 vertical-center p-2">
                                        <div class="col-md-3 col-sm-3">
                                            <span data-letters="@club.Coordinator.HeroInitials"></span>
                                        </div>
                                        <div class="col-md-8 col-sm-8">@club.Coordinator.Name</div>
                                    </div>
                                </div>
                            </div>

                            @* Club Missions *@
                            <div role="tabpanel" class="tab-pane p-2" id="club_missions_{@club.Id.ToString()}">
                                <div class="club row missions-block section-padding">
                                    @foreach (var mission in club.Missions)
                                    {
                                        <div class="col-sm-12 col-md-6">
                                            <div class="mission-body">
                                                <a href="/missions/@mission.Id" target="_blank">
                                                    <img class="img-fluid" src="@mission.ImageSrc" width="320" height="198" />
                                                    <h4 class="mission-title">@mission.Title</h4>
                                                    <p>от @mission.Club.Name</p>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @* Club Heroes *@
                            <div role="tabpanel" class="tab-pane p-2" id="club_heroes_{@club.Id.ToString()}">
                                <div class="club row section-padding pl-2 pr-2">
                                    @foreach (var hero in club.Heroes)
                                    {
                                        <div class="row col-sm-6 vertical-center p-1">
                                            <div class="col-md-3 col-sm-3">
                                                <span data-letters="@hero.HeroInitials"></span>
                                            </div>
                                            <div class="col-md-8 col-sm-8">@hero.Name</div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane p-2" id="club_coordinators_{@club.Id.ToString()}">
                                <div class="club row section-padding">

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>