@model StartPage
@inject IApi Api
@*@{
        ViewBag.Title = Model.Title;
        ViewBag.HasImage = Model.Hero.PrimaryImage.HasValue;

        string PrimaryImage() {
            if (Model.Hero.PrimaryImage.HasValue) {
                return $"style=background-image:url({Url.Content(Model.Hero.PrimaryImage)})";
            }
            return "";
        }
    }*@

@*<header class="page-header" @PrimaryImage()>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1>@Model.Title</h1>
                    <p class="lead">
                        @Html.Raw(Model.Hero.Ingress)
                    </p>
                </div>
            </div>
        </div>
    </header>*@

<div class="main">
    <div class="container">


        @* Missions *@
        @if (Model.LinkedMissions.Count > 0)
        {
            var linkMissionPosts = Model.LinkedMissions.OrderByDescending(m => m.Published.Value);
            <h2>Мисии</h2>
            <div class="row missions-block">
                @foreach (var mission in linkMissionPosts)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="mission-body">
                            <a href="@mission.Details.URL.Value" target="_blank">
                                <img class="img-fluid" src="@Url.Content(mission.Hero.PrimaryImage.Resize(WebApp.Api, 320, 198))" />
                                <h4 class="mission-title">@mission.Title</h4>
                                @if (mission.Tags.Count > 0)
                                {
                                    @foreach (var tag in mission.Tags)
                                    {
                                        <span>#@tag.Title </span>
                                    }
                                }
                                <p>от @mission.Details.OrganizedBy</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="row mt-3 justify-content-center">
                <a href="/missions" class="btn btn-heroes">Виж всички мисии</a>
            </div>
        }

        <hr />
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />

        <div class="row justify-content-center">
            <div class="col-sm-10 page-body">
                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
    </div>
</div>
