@model ClubsModule.Models.HeroListModel
@inject IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer
@{
    ViewBag.Title = "Heroes";
    ViewBag.MenuItem = "Heroes";
}

<div class="top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Localizer.General["Clubs"]</li>
            <li class="breadcrumb-item active" aria-current="page">Heroes</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="top-nav">
            @if ((await Auth.AuthorizeAsync(User, ClubsModule.Permissions.HeroesAdd)).Succeeded)
            {
                <a href="@Url.Action("Add")" class="btn btn-labeled btn-primary pull-right">
                    <i class="fas fa-plus"></i>@Localizer.General["Add"]
                </a>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>@Localizer.General["Name"]</th>
                <th class="actions one"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hero in Model.Heroes)
            {
                <tr>
                    <td>
                        @if ((await Auth.AuthorizeAsync(User, ClubsModule.Permissions.HeroesEdit)).Succeeded)
                        {
                            <a href="@Url.Action("Edit", new {id = hero.Id})">@hero.Name</a>
                        }
                        else
                        {
                            <span class="title">@hero.Name</span>
                        }
                    </td>
                    <td class="actions one">
                        @if ((await Auth.AuthorizeAsync(User, ClubsModule.Permissions.HeroesEdit)).Succeeded)
                        {
                            <a class="danger" href="@Url.Action("Delete", new {id = hero.Id})">
                                <span class="fas fa-trash"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
