@model HeroesCup.Web.Models.Missions.MissionPost
@{
    ViewBag.Title = Model.Title;

    var archive = await WebApp.Api.Pages.GetByIdAsync(Model.BlogId);
    var site = await WebApp.Api.Sites.GetDefaultAsync();
    var siteCulture = site.Culture != null ? site.Culture : "bg-BG";
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo(siteCulture);
    var currentUrlBase = $"{HttpAccess.HttpContext.Request.Scheme}://{HttpAccess.HttpContext.Request.Host}";


    var startDateAsLocalString = Model.Mission.StartDate.ToString("d MMMM yyyy", culture);
    var endDateAsLocalString = Model.Mission.EndDate.ToString("d MMMM yyyy", culture);

    var now = DateTime.Now;
    var expiredMission = false;
    if (now > Model.Mission.EndDate)
    {
        expiredMission = true;
    }
}

@section script{
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&autoLogAppEvents=1&version=v7.0&appId=@Configuration["FacebookAppId"]"></script>
    <script src="~/scripts/share-buttons.js" type="text/javascript"></script>
}

@section head {
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@currentUrlBase" />
    <meta name="twitter:creator" content="@currentUrlBase" />

    <meta property="og:url" content="@currentUrlBase/@Model.Category.Title/@Model.Slug" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Title" />
    <meta property="fb:app_id" content="@Configuration["FacebookAppId"]">
    <meta property="og:image" content="~/images/Logo.svg" />
}

<div class="main mt-md-5 pt-md-5">
    <div class="container mt-md-5 pt-md-5">
        <div class="row mb-5">
            <div class="row col-12 justify-content-center">
                <div class="col-12 pt-4 pb-4">
                    <h2 class="heading2">@Model.Title</h2>
                    <div class="body2"><span>от @Model.Mission.Club.Name в @Model.Mission.Mission.Location </span></div>
                    @if (expiredMission)
                    {
                        <div class="body2"><span>публикувана на @startDateAsLocalString, изтекла на @endDateAsLocalString</span></div>
                    }
                    else
                    {
                        <div class="body2"><span>публикувана на @startDateAsLocalString, продължителност до @endDateAsLocalString</span></div>
                    }
                </div>

                <div class="col-md-8 col-sm-12 pl-0 mt-5">
                    <div class="col-12 pl-0">
                        <div class="col-sm">
                            @if (expiredMission)
                            {
                                <div class="img-container">
                                    <img class="img-fluid expired-img" src="@Url.Content(Model.Mission.ImageSrc)" width="672">
                                    <div class="top-left body3-bold">ИЗТЕКЛА</div>
                                </div>
                            }
                            else
                            {
                                <img class="img-fluid" src="@Url.Content(Model.Mission.ImageSrc)" width="672">
                            }
                        </div>
                    </div>
                    <div class="col-12 justify-content-start pl-0">
                        @if (expiredMission && Model.Mission.Story != null && Model.Mission.Story.Content != null)
                        {
                        <div class="col-12 post-body pr-2">
                            <p class="body2-bold">Как премина мисията?</p>
                            @Html.Raw(Model.Mission.Story.Content)
                            <img class="img-fluid" src="@Url.Content(Model.Mission.Story.ImageSrc)" width="672">
                        </div>
                        <div class="col-12 separator ml-2 mr-2 mb-5 mt-5"></div>
                        }
                        <div class="col-12 post-body pr-2">
                            @Html.Raw(Model.Mission.Mission.Content)
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 justify-content-start mt-5 pb-4">
                    <div class="row share-buttons">
                        <div class="col-12">
                            <span class="text-regular">Сподели тoзи ресурс:</span>
                        </div>

                        <div class="col-5 body2">
                            <div class="btn btn-share fb-share-button" id="fb-share-button">
                                <span class="m-1">Share</span>
                                <i class="fa fa-facebook-f"></i>
                            </div>
                        </div>

                        <div class="col-5 body2">
                            <a class="btn btn-share" id="twitter-share-button"
                               href="https://twitter.com/intent/tweet?url=@currentUrlBase/@Model.Mission.Id&text=@Model.Title">
                                <span class="m-1">Tweet</span>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Mission.Title" />
    </div>
</div>
